{% extends "base.html.twig" %}

{% block title %}
    Aylin page
{% endblock %}

{% block body %}

<h1>WOOOOOOOOOO</h1>

    {% for ar in arr %}
        <li>
        {{ ar }}
        </li> 
    {% endfor %}

{% endblock %}